@model ScheduleMVC_Update.Models.GroupSet

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitorOfTheTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitorOfTheTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitorTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitorTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitorEmail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку групп", "Index")
        </div>
    }
</div>
