@model ScheduleMVC_Update.Models.LecturerSet

@{
    ViewBag.Title = "Добавление преподавателя";
}

<h2>Добавление преподавателя</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                @Html.EditorFor(model => model.LecturerFullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите ФИО ..." } })
                @Html.ValidationMessageFor(model => model.LecturerFullName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10 input-group">
                <span class="input-group-addon">@@</span>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "you@example.com" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input id="Phone" name="Phone" type="text" class="form-control input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd">
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

<div>
    @Html.ActionLink("Ввернуться к списку преподавателей", "Index")
</div>
