@model ScheduleMVC_Update.Models.ScheduleMainSet

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditorySet.AuditoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditorySet.AuditoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplineSet.TitleDiscipline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineSet.TitleDiscipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupSet.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupSet.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturerSet.LecturerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturerSet.LecturerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PairSet.PairStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PairSet.PairStart)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
