@model ScheduleMVC_Update.Models.DisciplineSet

@{
    ViewBag.Title = "Создание пары";
}

<h2>Создание пары</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10 input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                @Html.EditorFor(model => model.TitleDiscipline, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите название дисциплины..." } })
                @Html.ValidationMessageFor(model => model.TitleDiscipline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<div>
    @Html.ActionLink("Вернуться к списку пар", "Index")
</div>
