@model ScheduleMVC_Update.Models.DisciplineSet

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить дисциплину "@Model.TitleDiscipline"</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleDiscipline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleDiscipline)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> 
        </div>
    }
</div>

<hr />

<div>
    @Html.ActionLink("Вернуться к списку дисциплин", "Index")
</div>