@model IEnumerable<ScheduleMVC_Update.Models.DisciplineSet>

@{
    ViewBag.Title = "Список дисциплин";
}

<h2>Список дисциплин</h2>

<a href="@Url.Action("Index", "Schedule")" class="btn btn-default">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  Вернуться на главную
</a>

<p>
    <br />
    <br />
    @Html.ActionLink("Создать дисциплину", "Create", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TitleDiscipline)
            </th>
            <th>
                Функции
            </th>
        </tr>

        @foreach (var item in Model.OrderBy(x => x.TitleDiscipline))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitleDiscipline)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.DisciplineId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.DisciplineId })
                </td>
            </tr>
        }

    </table>
</div>