@model ScheduleMVC_Update.Models.ScheduleMainSet

@{
    ViewBag.Title = "Создать пару";
}

<h2>Создание пары</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DisciplineDisciplineId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DisciplineDisciplineId", null, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true", title = "Выберите дисциплину...", data_width = "280px", data_size = "6" })
                @Html.ValidationMessageFor(model => model.DisciplineDisciplineId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LecturerLecturerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LecturerLecturerId", null, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true", title = "Выберите преподавателя...", data_width = "280px", data_size = "6" })
                @Html.ValidationMessageFor(model => model.LecturerLecturerId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GroupSet.GroupName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GroupGroupId", null, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true", title = "Выберите группу...", data_width = "280px", data_size = "6" })
                @Html.ValidationMessageFor(model => model.GroupGroupId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AuditoryAuditoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AuditoryAuditoryId", null, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true", title = "Выберите аудиторию...", data_width = "280px", data_size = "6" })
                @Html.ValidationMessageFor(model => model.AuditoryAuditoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PairSet.PairNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PairPairId", null, htmlAttributes: new { @class = "form-control selectpicker", data_live_search = "true", title = "Выберите номер пары...", data_width = "280px", data_size = "6" })
                @Html.ValidationMessageFor(model => model.PairSet.PairNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Annotation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Annotation, new { htmlAttributes = new { @class = "form-control", placeholder = "Введите аннотацию..." } })
                @Html.ValidationMessageFor(model => model.Annotation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DaysOfWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="DaysOfWeek" name="DaysOfWeek" class="form-control">
                    <option>-1</option>
                    <option>-2</option>
                    <option>-3</option>
                    <option>-4</option>
                    <option>-5</option>
                    <option>-6</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
                @Html.ValidationMessageFor(model => model.DaysOfWeek, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<hr />

<div>
    <a onclick="hidetxt('div1'); return false;" href="#" rel="nofollow">*Памятка о создании пары:</a>
    <div style="display:none;" id="div1">
        <br />
        <p>Если в списке нету нужного результата, то его надо добавить на другой странице:</p>
        <p>*Добавить новую @Html.ActionLink("дисциплину", "Index", "disciplines", new { area = "" }, new { @class = "" })</p>
        <p>*Добавить нового @Html.ActionLink("преподавателя", "Index", "lecturers", new { area = "" }, new { @class = "" })</p>
        <p>*Добавить новую @Html.ActionLink("группу", "Index", "groups", new { area = "" }, new { @class = "" })</p>
        <p>*Добавить новую @Html.ActionLink("аудиторию", "Index", "auditorys", new { area = "" }, new { @class = "" })</p>
        <p>*Добавить новое @Html.ActionLink("время", "Index", "pairs", new { area = "" }, new { @class = "" })</p>
    </div>
</div>

<hr />

<div>
    @Html.ActionLink("Вернуться к списку ", "Index")
</div>

<script>
    var show;
    function hidetxt(type) {
        param = document.getElementById(type);
        if (param.style.display == "none") {
            if (show) show.style.display = "none";
            param.style.display = "block";
            show = param;
        } else param.style.display = "none"
    }
</script>