@model ScheduleMVC_Update.Models.ScheduleMainSet

@{
    ViewBag.Title = "Details";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuditorySet.AuditoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditorySet.AuditoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplineSet.TitleDiscipline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineSet.TitleDiscipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupSet.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupSet.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupSet.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupSet.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LecturerSet.LecturerFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LecturerSet.LecturerFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PairSet.PairStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PairSet.PairStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PairSet.PairEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PairSet.PairEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PairSet.PairNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PairSet.PairNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Ввернуться к списку", "Index", "", new { @class = "btn btn-default"})
</p>
